/* * modal */
.modal {
  z-index: 1;
  display: none;
  position: fixed;
  overflow: auto;

  color: var(--clr-black);
  background-color: var(--clr-white-1);

  width: 50%;

  box-shadow: var(--shadow-light);
  transition: var(--transition);
}

/* * modal close button */
.close {
  float: right;
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-white-1);

  cursor: pointer;
  transition: var(--transition);
}

.close:hover,
.close:focus {
  color: var(--clr-red);
  text-decoration: none;
}

/* * modal header & footer */
.modal .space {
  width: 2rem;
  background: transparent;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: capitalize;
  color: var(--clr-white-1);
  background-color: var(--clr-blue-2);

  height: 3rem;
  width: auto;

  padding: 1rem;
}

.modal-footer {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--clr-white-1);
  background-color: var(--clr-blue-2);

  height: 3rem;
  width: auto;

  padding-top: 1rem;
}

/* * model content */
.modal-content {
  font-size: 1.2rem;

  padding: 0.5rem;
  min-height: 5rem;
}
