@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Poppins&family=Roboto&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
  --color-primary: #49a6e9;
  --color-secondary: #102a42;
  --color-dark: #222;
  --color-grey: #ecf0f1;
  --color-light: #f1f5f8;
  --color-red: #e74c3c;
  --color-green: #1abc9c;
  --color-clr-white: #fff;

  --spacing: 0.25rem;
  --radius: 0.5rem;

  --shadow-light: 5px 0 15px 5px rgba(0, 0, 0, 0.2);
  --shadow-dark: 5px 0 15px 5px rgba(0, 0, 0, 0.4);

  --ff-primary: "Roboto", "Poppins", "Hahmlet";
  --ff-secondary: "Courier New", "Courier", "monospace";

  --transition: all 0.3s linear;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: var(--spacing);
}

body {
  background-color: var(--color-grey);
  font-family: var(--ff-primary);
  text-align: center;
}

/* tags */
nav {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-clr-white);

  width: auto;
  height: 3rem;

  padding-top: 0.6rem;
  box-shadow: var(--shadow-dark);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 88vh;

  color: var(--color-clr-white);
}

footer {
  text-align: center;
  padding-bottom: 0.5rem;
}

h1 {
  color: var(--color-secondary);
  font-size: 4rem;
  margin-bottom: 1rem;
}

#value {
  color: var(--color-secondary);
  font-size: 6rem;
}

/* buttons */
.button-pannel {
  margin-top: 1rem;
}

.btn {
  display: inline-block;

  color: var(--color-dark);
  font-size: 1rem;
  text-transform: uppercase;

  padding: 0.5rem 1rem;
  border-radius: var(--radius);

  transition: var(--transition);
  cursor: pointer;
}

.btn-outline-dark {
  color: var(--color-dark);
  background: transparent;
  border: 2px solid var(--color-dark);
}

.btn-outline-dark:hover {
  color: var(--color-clr-white);
  background-color: var(--color-dark);
}
